.footer {
    background-color: $color-darker;
    padding: 30px 0;
    
    &__container {
        @include container;
        @include flex-between;

        @include tablet {
            flex-direction: column;
            gap: 20px;
        }
        
        @include mobile {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
    }

    &__separator {
        border-right: 1px solid $color-gray-light;
        height: 18px;
        display: none;

        @include desktop {
            display: block;
        }
    }
    
    &__copyright {
        color: $color-white;
        font-size: 0.9rem;
    }
    
    &__payments {
        color: $color-gray-light;
        display: flex;
        gap: 30px;
        
        @include mobile {
            flex-direction: column;
            gap: 15px;
        }
    }
    
    &__contacts {
        display: flex;
        gap: 20px;
        
        @include mobile {
            flex-direction: column;
            gap: 10px;
        }
    }
    
    &__link {
        color: $color-white;
        font-size: 0.9rem;
        @include hover-transition {
            color: $color-primary;
        }
    }
}

.payment {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    
    &__icon {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }
} 