.hero {
    background: url('../assets/images/hero-bg.png') right center/cover no-repeat;
    padding: 200px 0;
    display: flex;
    align-items: center;
    color: $color-dark;

    @include tablet {
        padding: 100px 0;
    }

    @include mobile {
        padding: 100px 0 50px;
    }

    &__container {
        @include container;
    }
    
    &__title {
        margin-bottom: 30px;
        max-width: 780px;
        
        @include mobile {
            margin-bottom: 20px;
        }
    }

    &__list-title {
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    &__list {
        margin-bottom: 40px;
        padding-left: 20px;
        list-style-type: "-  ";
        
        @include mobile {
            margin-bottom: 30px;
        }
    }
    
    &__item {
        margin-bottom: 10px;
    }
    
    &__buttons {
        display: flex;
        gap: 30px;
        
        @include mobile {
            flex-direction: column;
            gap: 15px;
        }
    }
} 